body {
    text-align: center;
    background-color: #011f3f;
}

#level-title {
    color: #fef2bf;
    font-family: 'Press Start 2P';
    font-size: 3rem;
    margin: 5%;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    /* border-radius: 20%; */
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.green {
    background-color: green;
    border-radius: 50% 10% 10% 10%;
}

.red {
    background-color: red;
    border-radius: 10% 50% 10% 10%;
}

.yellow {
    background-color: yellow;
    border-radius: 10% 10% 10% 50%;
}

.blue {
    background-color: blue;
    border-radius: 10% 10% 50% 10%;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

@media (max-width: 1103px) {
    .btn {
        border-radius: 20%;
    }
}